footer {
    grid-area: footer;
    background-color: map-get($colors, primaryColor);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;


    & p {
        align-self: center;
        color: map-get($colors, secondaryColor);
    }

    & ul {
        margin-bottom: 10px;
        margin-left: -40px;
        list-style: none;
        align-self: end;

        & li a {
            font-family: 'roboto', sans-serif;
            font-size: 28px;
            color: map-get($colors, secondaryColor);
            text-decoration: none;

            &:hover {
                color: map-get($colors, secondaryColor);
                text-shadow: 0 0 15px rgba(255, 255, 255, .5), 0 0 10px rgba(255, 255, 255, .5);
            }
        }
    }
}

#text {
    font-family: 'roboto', sans-serif;
}