footer {
    grid-area: footer;
    background-color: #000000;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
}

footer ul {
    margin-bottom: 10px;
    margin-left: -40px;
    align-self: end;
}

footer ul li i {
    font-size: 28px;
    color: #FFFFFF;
    list-style: none;
}

footer ul li a:hover {
    color: #FFFFFF;
    text-shadow: 0 0 15px rgba(255, 255, 255, .5), 0 0 10px rgba(255, 255, 255, .5);
}

footer p {
    align-self: center;
    color: #FFFFFF;
}