.main {
    grid-area: main;
}

h1 {
    font-size: 10vw;
    cursor: default;
}

.secondaryText {
    background: linear-gradient(to right, #FFF 20%, #000000 40%, #000000 60%, #FFF 80%);
    background-size: 200% auto;
    color: map-get($colors, primaryColor);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: slidein2 0.5s linear 1, shine2 3s linear infinite;
}

.title-container {
    padding: 0px 10px;
    height: 70vh;
    display: grid;
    grid-template-rows: 5fr 1fr 3fr;

    &-text1 {
        grid-column: 1;
        grid-row: 1;
        align-self: end;
        text-align: end;
        color: map-get($colors, primaryColor);
        animation: slidein 0.5s linear 1;
        text-shadow: -8px 2px 2px #333333;
    }

    &-text2 {
        @extend .secondaryText;
        grid-column: 2;
        grid-row: 2;
        text-align: start;
        text-shadow: 8px 1px 2px #FFFFFF;
    }

}

.subtitle {
    @extend .secondaryText;
    grid-column: 2;
    grid-row: 3;
    font-size: 4vw;
    align-self: start;
    text-shadow: 3px 1px 2px #FFFFFF;

}

@media screen and (max-width: 768px) {
    .main {
        background: linear-gradient(351deg, rgba(0, 0, 0, 1) 45%, rgba(255, 255, 255, 0.3981967787114846) 100%);
    }

    h1 {
        font-size: 14vw;
        cursor: default;
    }

    .title-container {
        padding: 0px 10px;
        height: 100vh;
        display: grid;
        grid-template-rows: 8fr 1fr 3fr;

        &-text1 {
            grid-column: 1;
            grid-row: 1;
            align-self: end;
            text-align: center;
            color: map-get($colors, primaryColor);
            text-shadow: -4px 1px 2px #222222;
        }

        &-text2 {
            grid-column: 2;
            grid-row: 2;
            text-align: center;
            color: map-get($colors, secondaryColor);
            text-shadow: 5px 1px 2px #FFFFFF;
        }
    }

    .subtitle {
        grid-column: 2;
        grid-row: 3;
        font-size: 7vw;
        align-self: start;
        color: map-get($colors, secondaryColor);
        text-shadow: 3px 1px 2px #FFFFFF;
    }
}

@media screen and (max-width: 420px) {

    h1 {
        font-size: 22vw;
    }

    .main {
        background: linear-gradient(325deg, rgba(0, 0, 0, 1) 45%, rgba(255, 255, 255, 0.3981967787114846) 100%);
    }

    .title-container {
        padding: 0px 5px;
        height: 100vh;
        display: grid;
        grid-template-rows: 4fr 1fr 2fr;

        &-text1 {
            grid-column: 1;
            grid-row: 1;
            align-self: end;
            text-align: center;
            color: map-get($colors, primaryColor);
            text-shadow: -4px 1px 2px #222222;
        }

        &-text2 {
            grid-column: 2;
            grid-row: 2;
            text-align: center;
            color: map-get($colors, secondaryColor);
            text-shadow: 4px 1px 2px #FFFFFF;
        }
    }

    .subtitle {
        grid-column: 2;
        grid-row: 3;
        font-size: 7vw;
        align-self: start;
        color: map-get($colors, secondaryColor);
        text-shadow: 1px 0px 2px #FFFFFF;
    }

}