* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    font-size: 24px;
}

.body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer";
    min-height: 100vh;
}

.main {
    background: linear-gradient(342deg, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 0.4) 100%);
}