.resume-container {
    color: map-get($colors, secondaryColor);
    margin: 30px auto;
    width: 80%;
    border-radius: 10px;
    background-color: #666666;
    box-shadow: -7px -7px 15px 5px map-get($colors, primaryColor);
    background: linear-gradient(342deg, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 0.4) 100%);
    text-align: center;
    padding: 20px;

    & h2 {
        color: transparent;
        background-image: linear-gradient(to left, #FFFFFF, #FFFFFF, #FFFFFF, #000000, #000000);
        -webkit-background-clip: text;
        animation: animate 10s linear infinite;
        background-size: 40%;
        padding: 15px;
    }

    & p {
        font-weight: bold;
    }

    &-skills i {
        font-size: 48px;
        margin: 0 20px;
        text-align: center;
    }
}