@import './reset.css';

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    width: 100vw;
    height: 50px;
}

.header-container-logo {
    padding-left: 10px;
    height: 108%;
}

.navbar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3rem;
}

.navbar-container-links {
    display: flex;
    list-style: none;
}

.navbar-container-links li {
    padding: 0 16px;
}

.navbar-container-links a:hover {
    color: #444444;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 64px;
    text-shadow: -10px 5px 8px #444444;
}

span {
    padding-left: 10px;
}