@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,700&display=swap');

/*                */
/*      RESET     */
/*                */

* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    font-size: 24px;
}

.body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer";
    min-height: 100vh;

}

.main {
    background: linear-gradient(342deg, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 0.4) 100%);
}


/*                */
/*     NAVBAR     */
/*                */

.header {
    grid-area: header;
}

#navbarNav {
    justify-content: end;
}

.navbar {
    border-radius: 0px 0px 10px 10px;
    background-color: #000000;
    box-shadow: 0px 5px 6px #000000;
}

.navbar-logo {
    height: 72px;
    width: 78px;
    margin-top: 5px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

.nav-link {
    color: #FFFFFF;
}

.navbar-toggler {
    background-color: #FFFFFF;
}

.navbar-nav {
    align-items: center;
    gap: 20px;
}

.navbar-nav a:hover {
    color: #FFFFFF;
    text-shadow: 0 0 15px rgba(255, 255, 255, .5), 0 0 10px rgba(255, 255, 255, .5);
    font-size: 28px;
    transition: 0.2s linear;
}

.navbar-nav a:visited {
    color: #FFFFFF;
}

/*                */
/*      MAIN      */
/*                */

.main {
    grid-area: main;
}

.title-container {
    padding: 0px 10px;
    height: 70vh;
    display: grid;
    grid-template-rows: 5fr 1fr 3fr;

}

h1 {
    font-size: 10vw;
    cursor: default;
}

.title-container-text1 {
    grid-column: 1;
    grid-row: 1;
    align-self: end;
    text-align: end;
    color: #000000;
    animation: slidein 0.4s linear 1;
    text-shadow: -8px 2px 2px #222222;
}

.title-container-text2 {
    grid-column: 2;
    grid-row: 2;
    text-align: start;
}

.subtitle {
    grid-column: 2;
    grid-row: 3;
    font-size: 4vw;
    align-self: start;
}

.title-container-text2,
.subtitle {
    color: hsl(0, 0%, 28%);
    background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 30%, hsl(0, 0%, 30%) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: slidein2 0.2s linear 1, shine 2s infinite linear;
}


@media screen and (max-width: 768px) {
    .main {
        background: linear-gradient(351deg, rgba(0, 0, 0, 1) 45%, rgba(255, 255, 255, 0.3981967787114846) 100%);
    }

    .title-container {
        padding: 0px 10px;
        height: 70vh;
        display: grid;
        grid-template-rows: 5fr 1fr 3fr;
    }

    h1 {
        font-size: 18vw;
        cursor: default;
    }

    .title-container-text1 {
        grid-column: 1;
        grid-row: 1;
        align-self: end;
        text-align: center;
        color: #000000;
        text-shadow: -4px 1px 2px #222222;
    }

    .title-container-text2 {
        grid-column: 2;
        grid-row: 2;
        text-align: center;
        color: #FFFFFF;
    }

    .subtitle {
        grid-column: 2;
        grid-row: 3;
        font-size: 7vw;
        align-self: start;
        color: #FFFFFF;
    }

}

/*                */
/*     FOOTER     */
/*                */

footer {
    grid-area: footer;
    background-color: #000000;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
}

footer ul {
    margin-bottom: 10px;
    margin-left: -40px;
    align-self: end;
}

footer ul li i {
    font-size: 28px;
    color: #FFFFFF;
    list-style: none;
}

footer ul li a:hover {
    color: #FFFFFF;
    text-shadow: 0 0 15px rgba(255, 255, 255, .5), 0 0 10px rgba(255, 255, 255, .5);
}

footer p {
    align-self: center;
    color: #FFFFFF;
}

/*                */
/*      ABOUT     */
/*                */

.about-container {
    display: flex;
    justify-content: center;
    padding: 35px;
}

.about-container-card {
    padding: 10px;
    background: rgb(0, 0, 0);
    background: linear-gradient(342deg, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 0.3981967787114846) 100%);
    grid-column: 2;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #000000;
}

.about-container-card h2 {
    color: transparent;
    background-image: linear-gradient(to right, #FFFFFF, #FFFFFF, #FFFFFF, #000000, #000000);
    -webkit-background-clip: text;
    animation: animate 20s linear infinite;
    background-size: 70%;
}

.about-container-card p {
    color: #FFFFFF;
    text-shadow: 0 0 2px rgba(255, 255, 255, .5), 0 0 5px rgba(255, 255, 255, .5);
    font-weight: 500;
    padding: 1rem;
}

@media screen and (max-width: 768px) {
    .about-container-card {
        width: 100%;
    }

}

/*                */
/*    PROJECTS    */
/*                */

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 7fr;
    margin-bottom: -20px;
    justify-items: center;
    background: linear-gradient(342deg, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 0.4) 100%);
}

.card {
    margin: 40px;
    grid-row: 2;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card img {
    width: 100%;
    height: 100%;
}

.projects-container-text {
    margin-top: 20px;
    color: transparent;
    background-image: linear-gradient(to right, #FFFFFF, #FFFFFF, #000000, #000000, #000000);
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
    background-size: 70%;
    text-align: center;
    align-self: center;
    grid-column: 2;
}

@media screen and (max-width: 768px) {
    .projects-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        margin: 20px;
        max-width: 70%;

    }

}


/*                */
/*    RESUME      */
/*                */

.resume-container {
    color: #FFFFFF;
    margin: 30px auto;
    width: 80%;
    border-radius: 10px;
    background-color: #666666;
    box-shadow: 0px 0px 8px 2px #000000;
    background: linear-gradient(342deg, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 0.4) 100%);
    text-align: center;
    padding: 20px;
}

.resume-container h2 {
    color: transparent;
    background-image: linear-gradient(to left, #FFFFFF, #FFFFFF, #FFFFFF, #000000, #000000);
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
    background-size: 40%;
    padding: 15px;
}

.resume-container p {
    font-weight: bold;
}

.resume-container-skills i {
    font-size: 48px;
    margin: 0 20px;
    text-align: center;
}

/*              */
/*    Contact   */
/*              */

fieldset {
    width: 50%;
    height: 100%;
    padding: 30px;
    margin: 60px auto;
    background-color: #666666;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 1);
    border-radius: 10px;
}

fieldset p {
    margin-bottom: 50px;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

fieldset input {
    width: 100%;
    padding-top: 8px;
    margin-bottom: 50px;
    font-size: 1em;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

fieldset label {
    color: #fff;
    font-size: 1em;
}

textarea {
    width: 100%;
    height: 124px;
    margin: 15px auto;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

#submit {
    min-width: 100px;
    width: 20%;
    height: 50px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #fff;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    fieldset {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    fieldset {
        width: 80%;
    }
}


/*                */
/*   ANIMATIONS   */
/*                */

/* LOGO SPIN 360° */

@-moz-keyframes spin {
    100% {
        -moz-transform: rotateY(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotateY(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

/* TEXT1 SPIN */

@-moz-keyframes spinText {
    100% {
        -moz-transform: background-position(100px);
    }
}

@-webkit-keyframes spinText {
    100% {
        -webkit-transform: background-position(100px);
    }
}

@keyframes spinText {
    100% {
        -webkit-transform: background-position(100px);
        transform: background-position(100px);
    }
}

/* TEXT GRADIENT */

@keyframes animate {
    0% {
        background-position: 0% 100%;
    }

    50% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 100%;
    }
}

/* TEXT SHINE */

@keyframes shine {
    0% {
        background-position: -200px;
    }

    60% {
        background-position: 300px;
    }

    100% {
        background-position: 600px;
    }

}

/* MOVE TEXT */

@keyframes slidein {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slidein2 {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}