@import './reset.css';

.header-container {
    width: 100vw;
    height: 79px;
    display: flex;
    justify-content: space-around;
}

.navbar-container {
    background-color: black;
    width: 100%;
}

.navbar-container-links {
    list-style: none;
    display: flex;
    justify-content: center;

}

.navbar-container-links li {
    align-self: center;
}