@import './reset.css';

header {
    max-width: 1920px;
    min-width: 320px;
    width: 100vw;
    height: 100vh;
}

header a {
    display: inline;
}

.navbar {
    height: 79px;
    width: 100vw;
    background-color: #000000;
}

.navbar-container {
    width: 500px;
    background-color: red;
    display: inline;
}

.navbar li {
    display: inline-block;
}